
.main_container{
width:100%;
height:1000%;
/*background:yellow;*/

}
#show_switch{
  color:white;
  background-color:white;
  border-color:white;
}
.all_buttons{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background:white;
  z-index:100;
}

#song_name{
display:block;
margin:auto;
text-align:center;
margin:auto;
width:700px;
height:45px;
font-weight:bold;
font-size:32px;
}

#generate_text_input{
overflow: scroll;

}

#remaining_inputs{
display:block;
margin-left:auto;
margin-right:45px;
text-align:center;
width:300px;
height:120px;
font-weight:bold;
font-size:20px;}

.box_1{
width:100%;
height:200px;
/*background:red;*/
border-style: solid;
margin:auto;


}

#marker{
color:red;
position:relative;
font-weight:bold;
left:97px;
font-size:20px;}

.tab_lines{
margin:auto;
margin-top:20px;
width:90%;
height:0px;
border-style: outset;
border-width: 1px;
border-color: black;
background:black;
z-index:-1;

}
.string_one,.string_two,.string_three,.string_four,.string_five,.string_six{
width:2%;
height:20px;
//border-style:solid;
position:relative;
top:-14px;
left:0px;
z-index:1;
color:green;
font-size:24px;
font-weight: bold;
//background:white;
display: inline-block;
text-align: center;
margin-left:17px;
}